.share-iframe {
	width: 100%;
	height: 100%;
	position: absolute;
}

.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	background: white;
}

.header-user-box {
	margin-top: 8px;
}

.edited-navbar {
	margin-bottom: -40px !important;
}

.edited-navbar-frame-layout {
	margin-bottom: -15px !important;
}

.categories-widget {
	position: fixed;
}

.luppe-button {

	width: 60%;
	text-align: center;
	
	margin-top:2px;
	margin-bottom:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	display:inline-block;
	color:#fff;
	font-size:13px;
	font-weight:normal;
	padding:15px 22px 13px 22px;
	text-decoration:none;
	border:0px;
	color:#464646;

  	border-bottom:1px solid #d9dbdc;
  	background: #eff2f3;
	background: -webkit-gradient(linear, left top, left bottom, from(#eff2f3), to(#e7ebeb));
	background: -moz-linear-gradient(top,  #eff2f3,  #e7ebeb);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eff2f3', endColorstr='#e7ebeb');

}

.luppe-button:hover {

	color:#ffffff;
  	border-bottom:1px solid #46818b;
  	background: #6ac8d3;
	background: -webkit-gradient(linear, left top, left bottom, from(#6ac8d3), to(#5dbbc6));
	background: -moz-linear-gradient(top,  #6ac8d3,  #5dbbc6);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ac8d3', endColorstr='#5dbbc6');

}

.lupped-button {

	width: 60%;
	text-align: center;
	
	margin-top:2px;
	margin-bottom:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	display:inline-block;
	color:#fff;
	font-size:13px;
	font-weight:normal;
	padding:15px 22px 13px 22px;
	text-decoration:none;
	border:0px;
	color:#ffffff;
  	border-bottom:1px solid #46818b;
  	background: #6ac8d3;
	background: -webkit-gradient(linear, left top, left bottom, from(#6ac8d3), to(#5dbbc6));
	background: -moz-linear-gradient(top,  #6ac8d3,  #5dbbc6);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ac8d3', endColorstr='#5dbbc6');

}

.dig-button {

	width: 60%;
	text-align: center;
	
	margin-top:2px;
	margin-bottom:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	display:inline-block;
	color:#fff;
	font-size:13px;
	font-weight:normal;
	padding:15px 22px 13px 22px;
	text-decoration:none;
	border:0px;
	color:#464646;

  	border-bottom:1px solid #d9dbdc;
  	background: #eff2f3;
	background: -webkit-gradient(linear, left top, left bottom, from(#eff2f3), to(#e7ebeb));
	background: -moz-linear-gradient(top,  #eff2f3,  #e7ebeb);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eff2f3', endColorstr='#e7ebeb');

}

.dig-button:hover {

	color:#ffffff;
  	border-bottom:1px solid #46818b;
  	background: #6ac8d3;
	background: -webkit-gradient(linear, left top, left bottom, from(#E75729), to(#EE3B23));
	background: -moz-linear-gradient(top,  #6ac8d3,  #5dbbc6);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ac8d3', endColorstr='#5dbbc6');

}

.digged-button {

	width: 60%;
	text-align: center;
	
	margin-top:2px;
	margin-bottom:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	display:inline-block;
	color:#fff;
	font-size:13px;
	font-weight:normal;
	padding:15px 22px 13px 22px;
	text-decoration:none;
	border:0px;
	color:#ffffff;
  	border-bottom:1px solid #46818b;
  	background: #6ac8d3;
	background: -webkit-gradient(linear, left top, left bottom, from(#E75729), to(#EE3B23));
	background: -moz-linear-gradient(top,  #6ac8d3,  #5dbbc6);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ac8d3', endColorstr='#5dbbc6');

}

.count-container {
	margin:0 auto;
	width:60%;
}

.luppe-count {
	float:left;
	color:#5dbbc6;
}

.dig-count {
	margin-right:10px;
	float:right;
	color:#EE3B23;
}

.category-shares-list-item {
	padding-top: 15px;
	padding-bottom: 36px;
	border-bottom: solid 1px #D8D8D8;
}

.category-shares-list-item .share-title {
	float:left;
	font-size: 15px;
}

.category-shares-list-item .share-stats {
	float:left;
	margin-left: 10px;
	font-size: 12px;
}

.category-shares-list-item .share-stats .luppe-count {
	color:#6ac8d3;
}

.category-shares-list-item .share-stats .dig-count {
	margin-left: 10px;
	color:#E75729;
}

.category-shares-list-item .share-time {
	float:right;
	font-size: 12px;
	font-style: italic;
	color:#A8A8A8;
}

.share-list-item {
	float:left;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid 1px #D8D8D8;
}

.share-list-item .share-time {
	font-size: 12px;
	font-style: italic;
	color:#A8A8A8;
	margin-top:-3px;
	margin-bottom:3px;
}

.share-list-item .share-title {
	
}

.share-list-item .share-description {
	
}

.share-list-item .share-category-resource {
	float:left;
}

.share-list-item .share-stats {
	float:right;
}

.share-list-item .share-stats .luppe-count {
	margin-right:10px;
}

.add-tag-button {
	margin: 4px;
	float:left;
}

.add-tag-form-info {
	margin: 4px;
	float:left;
	visibility: visible;
}

.add-tag-form {
	margin: 4px;
	float:left;
	visibility: collapse;
}

.add-tag-form input[type='text'] {
	display:inline-block !important;
	height:20px !important;
	width:100px !important;
	padding:0 !important;
/* 	margin-bottom:10px !important; */
	font-size:12px !important;
	line-height:20px !important;
	color:#555555 !important;
/* 	-webkit-border-radius:4px !important; */
/* 	-moz-border-radius:4px !important; */
/* 	border-radius:4px !important; */
	vertical-align:middle !important;
}

.add-tag-form input[type='submit'] {
	display:inline-block !important;
	height:22px !important;
	padding:3px !important;
/* 	margin-bottom:10px !important; */
	font-size:12px !important;
	line-height:10px !important;
	color:#555555 !important;
/* 	-webkit-border-radius:4px !important; */
/* 	-moz-border-radius:4px !important; */
/* 	border-radius:4px !important; */
	vertical-align:middle !important;
}





















