#{extends 'layout.html' /}

    <div class="gradient-1">
    	<div class="container">
        	<div class="row">
          		<div class="span8">
	          		<div class="tabbable">
	           			<ul class="nav nav-tabs">
	              			<li class="active"><a href="#topNewsTab" data-toggle="tab">Top News</a></li>
	              			<li><a href="#mostRecentTab" data-toggle="tab">Most Recent</a></li>
	              			<li><a href="#yourCategoriesTab" data-toggle="tab">Your Categories</a></li>
	            		</ul>
	            		<div class="tab-content">
	              			<div class="tab-pane active" id="topNewsTab">
	                			#{list items:topNews, as:'topNew'}
		              			<div class="share-list-item">
	                				<div class="share-title">
						            	<h4><a href="@{share.ShareController.share(topNew.shareId)}">${topNew.title}</a></h4>
						            	<div class="share-time">${new Date(topNew.lastModifiedDate).since()}</div>
						            </div>
						            <div class="share-description">
						            #{verbatim}
						            	<p>${topNew.description}</p>
						            #{/verbatim}
						            </div>
						            <div class="share-category-resource">
						            	${topNew.categoryName} | <i>${topNew.resourceName}</i>
						            </div>
						            <div class="share-stats">
						            	<div class="luppe-count">
						            		${topNew.luppeCount} <i class="icon-thumbs-up"></i>
						            	</div>
						            	<div class="dig-count">
						            		${topNew.digCount} <i class="icon-thumbs-down"></i>
						            	</div>
						            </div>
					            </div>
					            #{/list}
	              			</div>
	              			<div class="tab-pane" id="mostRecentTab">
		              			#{list items:mostRecents, as:'mostRecent'}
		              			<div class="share-list-item">
	                				<div class="share-title">
						            	<h4><a href="@{share.ShareController.share(mostRecent.shareId)}">${mostRecent.title}</a></h4>
						            	<div class="share-time">${new Date(mostRecent.lastModifiedDate).since()}</div>
						            </div>
						            <div class="share-description">
						            #{verbatim}
						            	<p>${mostRecent.description}</p>
						            #{/verbatim}
						            </div>
						            <div class="share-category-resource">
						            	${mostRecent.categoryName} | <i>${mostRecent.resourceName}</i>
						            </div>
						            <div class="share-stats">
						            	<div class="luppe-count">
						            		${mostRecent.luppeCount} <i class="icon-thumbs-up"></i>
						            	</div>
						            	<div class="dig-count">
						            		${mostRecent.digCount} <i class="icon-thumbs-down"></i>
						            	</div>
						            </div>
					            </div>
					            #{/list}
	              			</div>
	              			<div class="tab-pane" id="yourCategoriesTab">
		              			#{list items:categories, as:'category'}
		              			<br/>
					            <h4><a href="@{category.CategoryController.category(category.categoryId)}">${category.categoryName}</a></h4>
					            <br/>
					            #{if !category_isLast}<hr/>#{/if}
					            #{/list}
	              			</div>
	            		</div>
	          		</div>
	          		<br/><br/>
            	</div>
            	<div class="span4">
            		<div class="clearfix"></div>
            		<div class="categories categories-widget">
		            	<a href="@{category.CategoryController.categories()}">
		            		<h4>Categories</h4>
		            	</a>
		            	#{list items:categories, as:'category'}
							<a href="@{category.CategoryController.category(category.categoryId)}">
								<div class="button-cat">${category.categoryName}</div>
							</a>
						#{/list}
						<a href="@{category.CategoryController.categories()}">
							<div class="button-cat">All Your Categories</div>
						</a>
		            </div>
            	</div>
        	</div>
      	</div>  
    </div>
		

        