#{extends 'layout.html' /}

	<div id="content">

    <div class="gradient-1">
    	<div class="container">
        	<div class="row">
          		<div class="span12">
	          		<div class="tabbable">
	           			<ul class="nav nav-tabs">
	              			<li class="active"><a href="#topNewsTab" data-toggle="tab">Top News</a></li>
	              			<li><a href="#mostRecentTab" data-toggle="tab">Most Recent</a></li>
	              			
	            		</ul>
	            		<div class="tab-content">
	              			<div class="tab-pane active" id="topNewsTab">
	                			<h4>Top News</h4>
	                			<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vul</p>
	              			</div>
	              			<div class="tab-pane" id="mostRecentTab">
		              			#{list items:mostRecents, as:'mostRecent'}
		              			<br/>
					            <h4>${mostRecent.title}</h4>
					            <p>${mostRecent.description}</p>
					            <hr/>
					            #{/list}
	              			</div>
	            		</div>
	          		</div>
	          		<br/><br/>
	          		
			        
            	</div>
        	</div>
      	</div>  
    </div>
		

        