#{extends 'layout.html' /}

	<div class="gradient-1">
      	<div class="container"> 
        	<div class="row">
          		<div class="span8">
          			<div class="hero-unit">
	          			#{if arguments.confirmationError != null}
				            <h2>Confirmation Error</h2>
				            ${arguments.confirmationError}
				        #{/if}
				        #{else}
				            <h2>Welcome to LuppeIt!</h2>
				            You can login and start lupping from <a href="${baseUrl}/login">here</a>.
				        #{/else}
				        <br/>
			        </div>
            	</div>
            	<div class="span4">
            		
            	</div>
            </div>
		</div>
	</div>
		