#{extends 'layout.html' /}

	<div class="gradient-1">
      	<div class="container"> 
        	<div class="row">
          		<div class="span8">
          			#{if arguments.confirmationError != null}
			            <h1>Confirmation Error</h1>
			            ${arguments.confirmationError}
			        #{/if}
			        #{else}
			            <h1>Welcome to LuppeIt!</h1>
			            You can login and start lupping from <a href="${baseUrl}/login">here</a>.
			        #{/else}
			        <br/>
            	</div>
            	<div class="span4">
            		
            	</div>
            </div>
		</div>
	</div>
		