#{extends 'layout.html' /}

	<div class="gradient-1">
      	<div class="container"> 
        	<div class="row">
          		<div class="span8">
          			<h2>You are ready to luppe now!</h2>
          			<div class="hero-unit">
				        Just click on the confirmation link we sent to <b><i>${arguments.emailValue}</i></b>!
				        <br/>
			        </div>
            	</div>
            	<div class="span4">
            		
            	</div>
            </div>
		</div>
	</div>
		
        
