<!DOCTYPE html>
<html class="not-ie" lang="en">
<head>
	<!-- Basic meta tags -->
	<meta charset="utf-8">
	<title>${pageTitle}</title>
		<meta name="description" content="...">
		<meta name="keywords" content="...">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	
	<!-- Favicon -->
	<link href="@{'/public/images/favicon.png'}" rel="icon" type="image/png">
	
	<!-- Styles -->
	#{stylesheet 'main.css' /}
	#{stylesheet 'styles.css' /}
	
	<!-- Font Avesome Styles -->
	#{stylesheet 'font-awesome/font-awesome.css' /}
	
	<!-- FlexSlider Style -->
	#{stylesheet 'flexslider.css' /}
	
	#{stylesheet 'jquery-ui-1.9.2.custom.min.css' /}
	
	<!-- Web Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" type="text/css">  
	<link href="http://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700" rel="stylesheet" type="text/css">
	
	#{script 'jquery-1.8.2.min.js' /}
	#{script 'jquery-ui.js' /}
	#{script 'main.js' /}
	
	
</head>
<body>
	<header id="header">
    <hr class="hr_t">
		<nav class="navbar edited-navbar">
			<div class="navbar-inner">
				<div class="container">
        			<a class="logo" href="@{main.ApplicationController.index()}"><img src="@{'/public/images/logo-header.png'}" /></a>
					<ul class="nav">
						#{if user != null}
						<li class="dropdown">
							<div class="header-user-box"><i class="icon-user"></i> <a href="@{profile.ProfileController.profile()}">${user.username}</a></div>
							<ul>
								<li><a href="@{profile.ProfileController.profile()}"><i class="icon-cogs"></i> Settings</a></li>
								<li><a href="@{login.LoginController.logout}"><i class="icon-off"></i> Logout</a></li>
							</ul>
						</li>
						#{/if}
						#{else}
						<li><a href="@{login.LoginController.login()}"><i class="icon-home"></i> Login</a></li>
						<li><a href="@{registration.RegistrationController.register()}"><i class="icon-plus"></i> Registration</a></li>
						#{/else}
					</ul>
				</div>
			</div>
		</nav>
	</header>
	
	<div id="content">
	
	#{doLayout /}

	<footer id="footer">
		<div id="bottom-1">
			<div class="container">   
				<div class="row">
					<div class="span4">
						<div class="footer-title">ABOUT US</div>
						Sed ut perspiciatis unde omnis es nakalamatus error sit, totam rem aperiam, eaque ipsa  sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
						<br><br>
						quisquam est, eius modilach temporazarata incidunt, eaque ipsa. Nemo enim.
						<br><br>
						<a href="#" class="blue">Read more »</a>
					</div>
					<div class="span4">
						<div class="footer-title">SECTIONS</div>
						<a href="#">» Quis nostrud exercitation ullamco</a><br><br>
						<a href="#">» Duis aute irure dolor nul cilluml</a><br><br>
						<a href="#">» Consectetur adipising elit eu fugiat on</a><br><br>
						<a href="#">» Amet, consectetur adipisicing elited</a><br><br>
						<a href="#">» Perspiciatis unde omni onsequat</a><br><br>
						<a href="#">» modilach temporazara incidunt eaq</a>
					</div>
					<div class="span4">
						<div class="footer-title">GET SOCIAL</div>
						<p>  
							<a href="http://www.facebook.com" rel="external" class="social-network facebook"></a>
							<a href="http://www.twitter.com" rel="external" class="social-network twitter"></a>
							<a href="http://www.dribbble.com" rel="external" class="social-network dribbble"></a>
							<a href="http://www.pinterest.com" rel="external" class="social-network pinterest"></a>
							<a href="http://www.deviantart.com" rel="external" class="social-network deviantart"></a>
							<a href="http://www.lastfm.com" rel="external" class="social-network lastfm"></a>
						</p>
					</div>
					<div class="footer-title">NEWSLETTER</div>
					<div class="newsletter-container">
						<img class="ajax-loader" src="@{'/public/images/ajax-loader.gif'}" alt="">
						<form method="post" id="newsletter-f">             
							<input type="text" name="newsletter" placeholder="Your e-mail address">
							<button type="submit" id="newsletter-subscribe" class="icon-ok"></button>
							<input type="hidden" name="robot">
						</form>
					</div>
					Unatus error sit voluptatem accusantium explicabo. Nemo enim lum dolore eu fug ipsam voluptatem quia
				</div>
			</div>
		</div>
		<div id="bottom-2">
			<div class="container">   
				<div class="row">
					<div class="span1">    
						<a href="#"><img src="@{'/public/images/logo-footer.png'}" title="" alt=""></a>
					</div>
					<div class="span7">
						Glasgow, United Kingdom<br>
						E-mail: <a href="mailto:mail@tracedomain.com" class="blue" rel="external">mail@tracedomain.com</a> | Phone: <span class="blue">1-800-555-1111</span>
					</div>
					<div class="span4 right">
						&copy; 2012 trace. All rights reserved. Designed by <a href="http://www.entiri.com" class="white" rel="external">entiri</a><br>
						<a href="http://graphicriver.net/user/entiri" class="blue" rel="external">http://graphicriver.net/user/entiri</a>
					</div>
				</div>
			</div> 
		</div>
	</footer>
	</div>
		  
	<script type="text/javascript" src="@{'/public/javascripts/jquery-1.8.2.min.js'}"></script> 
	<script type="text/javascript" src="@{'/public/javascripts/bootstrap.min.js'}"></script>  
	<script type="text/javascript" src="@{'/public/javascripts/functions.js'}"></script>
	<script type="text/javascript" src="@{'/public/javascripts/jquery.isotope.min.js'}"></script>
	<script type="text/javascript" defer src="@{'/public/javascripts/jquery.flexslider.js'}"></script>

</body>
</html>
