<!DOCTYPE html>
<html class="not-ie" lang="en">
<head>
	<!-- Basic meta tags -->
	<meta charset="utf-8">
	<title>${pageTitle}</title>
		<meta name="description" content="...">
		<meta name="keywords" content="...">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	
	<!-- Favicon -->
	<link href="@{'/public/images/favicon.png'}" rel="icon" type="image/png">
	
	<!-- Styles -->
	#{stylesheet 'main.css' /}
	#{stylesheet 'styles.css' /}
	
	<!-- Font Avesome Styles -->
	#{stylesheet 'font-awesome/font-awesome.css' /}
	
	<!-- FlexSlider Style -->
	#{stylesheet 'flexslider.css' /}
	
	<!-- Web Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" type="text/css">  
	<link href="http://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700" rel="stylesheet" type="text/css">
	
	#{script 'jquery-1.8.2.min.js' /}
	#{script 'main.js' /}
	
	
</head>
<body>
	<header id="header">
    <hr class="hr_t">
		<nav class="navbar edited-navbar">
			<div class="navbar-inner">
				<div class="container">
        			<a class="logo" href="@{main.ApplicationController.index()}"><img src="@{'/public/images/logo-header.png'}" /></a>
					<ul class="nav">
						#{if user != null}
						<li class="dropdown">
							<div class="header-user-box"><i class="icon-user"></i> <a href="@{profile.ProfileController.profile()}">${user.username}</a></div>
							<ul>
								<li><a href="@{profile.ProfileController.profile()}"><i class="icon-cogs"></i> Settings</a></li>
								<li><a href="@{admin.AdminController.logout}"><i class="icon-off"></i> Logout</a></li>
							</ul>
						</li>
						#{/if}
						#{else}
						<li><a href="@{admin.AdminController.login()}"><i class="icon-home"></i> Login as Administrator</a></li>
						#{/else}
					</ul>
				</div>
			</div>
		</nav>
	</header>
	
	<div id="content">
	
	#{doLayout /}

	<footer id="footer">
		<div id="bottom-1">
			<div class="container">   
				<div class="row">
					<div class="span4">
						<div class="footer-title">ABOUT US</div>
						luppeIt is a large RSS feed entry recommender according to your interests. The more you make an action on luppeIt, the better recommendation you get!!!
						<br><br>
						<a href="http://github.com/kuscan/luppeit" class="blue">Read more »</a>
					</div>
					<div class="span4">
						<div class="footer-title">SECTIONS</div>
						<a href="http://npr.org">» National Public Radio</a><br><br>
						<a href="http://nytimes.com">» New York Times</a><br><br>
						<a href="http://yahoo.com">» Yahoo!</a><br><br>
					</div>
					<div class="span4">
						<div class="footer-title">GET SOCIAL</div>
						<p>  
							<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fswe.cmpe.boun.edu.tr:7880" rel="external" class="social-network facebook"></a>
							<a href="http://www.twitter.com" rel="external" class="social-network twitter"></a>
							<a href="http://www.dribbble.com" rel="external" class="social-network dribbble"></a>
							<a href="http://www.pinterest.com" rel="external" class="social-network pinterest"></a>
							<a href="http://www.deviantart.com" rel="external" class="social-network deviantart"></a>
							<a href="http://www.lastfm.com" rel="external" class="social-network lastfm"></a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div id="bottom-2">
			<div class="container">   
				<div class="row">
					<div class="span1">    
						<a href="#"><img src="@{'/public/images/logo-footer.png'}" title="" alt=""></a>
					</div>
					<div class="span7">
						İstanbul, TURKEY<br>
						E-mail: <a href="mailto:info@luppeit.com" class="blue" rel="external">info@luppeit.com</a>
					</div>
					<div class="span4 right">
						&copy; 2013 luppeIt. All rights reserved. Designed by <a href="http://www.entiri.com" class="white" rel="external">entiri</a><br>
					</div>
				</div>
			</div> 
		</div>
	</footer>
	</div>
		  
	<script type="text/javascript" src="@{'/public/javascripts/jquery-1.8.2.min.js'}"></script> 
	<script type="text/javascript" src="@{'/public/javascripts/bootstrap.min.js'}"></script>  
	<script type="text/javascript" src="@{'/public/javascripts/functions.js'}"></script>
	<script type="text/javascript" src="@{'/public/javascripts/jquery.isotope.min.js'}"></script>
	<script type="text/javascript" defer src="@{'/public/javascripts/jquery.flexslider.js'}"></script>

</body>
</html>
