#{extends 'admin/adminLayout.html' /}

	<div class="gradient-1">
      	<div class="container"> 
        	<div class="row">
          		<div class="span8">
          		
          			<br/>
          			<a href="@{admin.AdminController.index()}">Back</a> | <a href="#addCategory">Add New Category</a>
					
					<div class="categories">
						<h2>Categories</h2>
				        <ul>
				            #{list items:categories, as:'category'}
				            <a href="@{admin.AdminController.category(category.categoryId)}">
				            	<div class="button-cat">${category.categoryName}</div>
				            </a>
				            #{/list}
				        </ul>
			        </div>
			        
			        <hr/>
			        <br/>
			        <div id="addCategory">
			        	#{form @admin.AdminController.addCategory(), method:'POST', id:'addCategoryForm'}
			        	<p>
				            #{field 'categoryName'}
				            <label>Category Name:</label>
				            <input type="text" name="${field.name}" />
				            #{/field}
				        </p>
				        <p>
				            #{field 'categoryStatusId'}
				            <label>Category Status:</label>
				            <select name="${field.name}">
				            	<option value="0">Choose...</option>
				            	#{list items:categoryStatuses, as:'categoryStatus'}
				            		<option value="${categoryStatus.categoryStatusId}">${categoryStatus.categoryStatusName}</option>
				            	#{/list}
				            </select>
				            #{/field}
				        </p>
				        <p>
				            <input type="submit" value="Add Category!" />
				        </p>
			        	#{/form}
			        </div>
			    </div>
            	<div class="span4">
            		
            	</div>
            </div>
		</div>
	</div>