#{extends 'admin/adminLayout.html' /}

	<div class="gradient-1">
      	<div class="container"> 
        	<div class="row">
          		<div class="span8">
          			<h1>Administration</h1>
			        <div class="categories">
			        	<a href="@{admin.AdminController.resources()}"><div class="button-cat" style="width:200px;">>> Recources</div></a><br/>
			        	<a href="@{admin.AdminController.rssResources()}"><div class="button-cat" style="width:200px;">>> Rss Recources</div></a><br/>
			        	<a href="@{admin.AdminController.categories()}"><div class="button-cat" style="width:200px;">>> Categories</div></a><br/>
			        </div>
            	</div>
            	<div class="span4">
            		
            	</div>
            </div>
		</div>
	</div>
		