#{extends 'admin/adminLayout.html' /}

	<div class="gradient-1">
      	<div class="container"> 
        	<div class="row">
          		<div class="span8">
          		
          			<br/>
          			<a href="@{admin.AdminController.index()}">Back</a> | <a href="#addResource">Add New Resource</a>
					
					<div class="categories">
						<h2>Resources</h2>
				        <ul>
				            #{list items:resources, as:'resource'}
				            <a href="@{admin.AdminController.resource(resource.resourceId)}">
				            	<div class="button-cat">${resource.resourceName}</div>
				            </a>
				            #{/list}
				        </ul>
			        </div>
			        
			        <hr/>
			        <br/>
			        <div id="addResource">
			        	#{form @admin.AdminController.addResource(), method:'POST', id:'addResourceForm'}
			        	<p>
				            #{field 'resourceName'}
				            <label>Resource Name:</label>
				            <input type="text" name="${field.name}" />
				            #{if arguments.resourceNameRequiredError != null}
				            <span class="error">
				                ${arguments.resourceNameRequiredError}
				            </span>
				            #{/if}
				            #{/field}
				        </p>
				        <p>
				            #{field 'resourceStatusId'}
				            <label>Resource Status:</label>
				            <select name="${field.name}">
				            	<option value="0">Choose...</option>
				            	#{list items:resourceStatuses, as:'resourceStatus'}
				            		<option value="${resourceStatus.resourceStatusId}">${resourceStatus.resourceStatusName}</option>
				            	#{/list}
				            </select>
				            #{if arguments.resourceStatusIdRequiredError != null}
				            <span class="error">
				                ${arguments.resourceStatusIdRequiredError}
				            </span>
				            #{/if}
				            #{/field}
				        </p>
				        <p>
				            <input type="submit" value="Add Resource!" />
				            #{if arguments.addResourceError != null}
				            <span class="error">
				                ${arguments.addResourceError}
				            </span>
				            #{/if}
				        </p>
			        	#{/form}
			        </div>
			    </div>
            	<div class="span4">
            		
            	</div>
            </div>
		</div>
	</div>