#{extends 'layout.html' /}

    <div class="gradient-1">
      	<div class="container"> 
        	<div class="row">
          		<div class="span8">
            		<h1><a href="@{share.ShareController.originalShare(share.shareId)}">${share.title}</a> <br/><small>${share.resourceName}</small></h1>
 
		            <article class="blog-post">
              			<div class="row m-t-30">
              				<div class="span6">
	                			${new Date(share.lastModifiedDate).since()}
	                			#{verbatim}
	                  				<div class="post-title">${share.description}</div>
	                  			#{/verbatim}
	                    		<br><br>
                    		</div>
                    		<div class="span2">
                    			<div class="count-container">
                    				<div class="luppe-count" id="luppeCount${share.shareId}">
                    					<i class="icon-thumbs-up"></i> ${share.luppeCount}
                    				</div>
									<div class="dig-count" id="digCount${share.shareId}">
                    					<i class="icon-thumbs-down"></i> ${share.digCount}
                    				</div>
                    			</div>
                    			#{if isLupped != null && isDigged != null}
	                    			#{if isLupped == false}
	                    			<div id="luppeButton${share.shareId}">
	                    				<a onclick="luppeShare(${share.shareId})"><div class="luppe-button"><i class="icon-thumbs-up"></i> Luppe</div></a>
	                    			</div>
	                    			#{/if}
	                    			#{else}
	                    			<div id="luppeButton${share.shareId}">
	                    				<div class="lupped-button"><i class="icon-thumbs-up"></i> Lupped</div>
	                    			</div>
	                    			#{/else}
	                    			#{if isDigged == false}
	                    			<div id="digButton${share.shareId}">
	                    				<a onclick="digShare(${share.shareId})"><div class="dig-button"><i class="icon-thumbs-down"></i> Dig</div></a>
	                    			</div>
	                    			#{/if}
	                    			#{else}
	                    			<div id="digButton${share.shareId}">
	                    				<div class="digged-button"><i class="icon-thumbs-down"></i> Digged</div>
	                    			</div>
	                    			#{/else}
                    			#{/if}
                    		</div>
              			</div>
              			<div>
                			<a href="@{share.ShareController.originalShare(share.shareId)}"><div class="button-class but-2">Read More >></div></a>
              			</div>		
              			<hr class="m-tb-40">
            		</article>
            	</div>
            	<div class="span4">
            		<div class="text-widget">
		            	<h3>CATEGORY</h3>
		            	<i>${share.categoryName}</i>
		            </div>
		            
		            <div class="clearfix"></div>
		            
		            <div class="categories">
		            	<h3>TAGS</h3>
						<div class="button-cat">Human Resources</div>
		            </div>
            	</div>
            </div>
		</div>
	</div>

        